

.main-ban-head {
    width: 100%;
    height: 125vh;
    color: whitesmoke;
    text-align: center;
    background-size: cover;    
    background-image: url('../images/smart-home-tablet-wall.jpg');

    background-repeat: no-repeat;    
    /*animation: main-ban-head 10s ease-out infinite;*/
}

/*@keyframes main-ban-head {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}*/


header .overlay {
    background-color: rgba(47, 48, 48, 0.3);
    width: 100%;
    height: 100%;
}

header .container {
    padding-top: 120px;
}



    header .container h1 {
        font-size: 75px;
        font-weight: 700;
        margin-bottom: 30px;
        color: whitesmoke
    }

    header .container h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
        color: whitesmoke
    }

    header .container h5 {
        font-size: 15px;
    }

    header .container .banner-contact {
        width: 300px;
        height: 50px;
        border: 2px solid white;
        color: whitesmoke /*#01008a*/;
        background: transparent;
        font-size: 15px;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
        font-weight: 400;
    }

        header .container .banner-contact:hover {
            background-color: #fff;
            color: #01008a;
        }

@media (max-width: 799px) {
    header .container .banner-contact {
        font-size: 13px;
        /*margin-top:30px*/
    }

    .main-ban-head {
        height: 50vh
    }

    header .container h1 {
        font-size: 35px;
    }

    header .container h5 {
        font-size: 12px;
        margin-bottom:50px
    }

    header .container h3 {
        font-size: 15px;
        margin-top: 30px
    }
}
